+partial('dropdown1')
    dropdown(
        data="{{ combobox.list1 }}" 
        key="_id" selected="{{ combobox.boundSelected }}" 
        placeholder="my placeholder")

anchor dropdown
.ui.segments
    h3.ui.top.attached.block.header dropdown #[a(href="#dropdown") #[i.linkify.icon]]
    .ui.attached.segment
        checkbox(checked="{{ button.show }}") Show/hide Bound component 1

        +if('button.show')
            .ui.two.column.stackable.grid
                .column
                    h3 Bound component2
                    +apply('dropdown1')
                    p selected: {{combobox.boundSelected}}
                .column
                    h3 UnBound (free) instance
                    .ui.info.message
                        .header Fluid Mode
                        p This instance fits width of its container
                    
                    dropdown(data="{{ combobox.list2 }}" selected="{{ combobox.unboundSelected }}" fit-width)
                    p selected: {{ combobox.unboundSelected }}

    .ui.segment
        .ui.stackable.four.column.grid
            .row
                .column
                    +apply('dropdown1')
                    p selected: {{combobox.boundSelected}}
                .column
                    +apply('dropdown1')
                    p selected: {{combobox.boundSelected}}
                .column
                    +apply('dropdown1')
                    p selected: {{combobox.boundSelected}}
                .column
                    +apply('dropdown1')
                    p selected: {{combobox.boundSelected}}

    anchor dropdown-inline-example
    .ui.segment
        .ui.mini.header Inline Dropdown #[a(href="#dropdown-inline-example") #[icon.settings]]
        p.
            A dropdown may be #[dropdown(data="{{ combobox.list1 }}" key="_id" selected="{{ combobox.boundSelected }}" placeholder="my placeholder" inline)]
            inline as shown.

    h3.ui.attached.block.header multiselect dropdown 
    .ui.attached.segment
        .ui.form 
            .fields
                .field 
                    label Selected items:
                    .ui.message.green 
                        pre {{ JSON.stringify(combobox.boundSelected3) }}

            .fields
                .field 
                    label Dropdown 1
                    dropdown(
                        data="{{ combobox.list3 }}" 
                        selected-key="{{ combobox.boundSelected3 }}" 
                        placeholder="my placeholder" 
                        multiple)
    
                .field 
                    label Dropdown 2
                    dropdown(
                        data="{{ combobox.list3 }}" 
                        selected-key="{{ combobox.boundSelected3 }}" 
                        placeholder="my placeholder" 
                        multiple)

    anchor dropdown-lazy-loading
    h3.ui.attached.block.header lazy loading dropdown data #[a(href="#dropdown-lazy-loading") #[i.linkify.icon]]
    .ui.attached.segment
        p Data will be set in 5 seconds after rendering.
        .ui.form 
            .fields
                .field 
                    label Dropdown for selection (test equipment)
                    dropdown(
                        data="{{ combobox.list1 }}" 
                        key="_id" 
                        selected="{{ combobox.lazy.selected }}")

                .field
                    label Pre-set selected: 
                    .ui.orange.tag.label {{combobox.lazy.selected}}
                
                .field
                    label Lazy Dropdown 
                    checkbox(checked="{{combobox.lazy.debug}}") Debug
                    dropdown(
                        data="{{ combobox.lazy.data }}" 
                        key="_id" 
                        selected="{{ combobox.lazy.selected }}" 
                        placeholder="my placeholder"
                        debug="{{combobox.lazy.debug}}")
                        
                     
                .field
                    label Lazy Dropdown Bound Copy 
                    dropdown(
                        data="{{ combobox.lazy.data }}" 
                        key="_id" 
                        selected="{{ combobox.lazy.selected }}" 
                        placeholder="my placeholder")
                     
